/* Fonts importation */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.25s ease-in-out;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image: url("../assets/img/cities/default.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    padding: 2rem;
}

/* Container styles */

#container {
    width: 80%;
    min-height: 90px;
    margin: auto;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 16px;
}

/* Search bar style */

#search-container {
    background-color: rgb(246, 246, 246);
    border-radius: 8px;
    position: absolute;
    width: calc(100% - 3rem);
}

.search-bar {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 8px;
    height: 40px;
}

.search-bar input {
    width: 100%;
    height: 2.5rem;
    border-radius: 8px 0 0 8px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #D9D9D9;
    color: black;
    flex: 1;
}

.search-bar button {
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #B4B3B3;
    backdrop-filter: blur(10px);
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar button img {
    width: 25px;
}

.search-bar button:hover {
    background-color: rgba(255, 255, 255, 0.24);
}

.search-bar button:hover img {
    transform: rotate(90deg);
}

/* Search results */

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

div.cityGuess {
    padding: 0.5rem;
    cursor: pointer;
    animation: appear 0.25s ease-in-out;
}

div.cityGuess:last-child {
    border-radius: 0 0 8px 8px;
}

div.cityGuess:hover {
    background-color: #B4B3B3;
    padding-left: 1rem;
}

/* Search settings */

#search-settings, #infoMessageContainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
    z-index: 3;
    animation: settings-appearance 0.25s ease-in-out;
}

@keyframes settings-appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#search-settings.hidden {
    display: none;
}

#search-settings form {
    background-color: rgb(246, 246, 246);
    border-radius: 8px;
    padding: 1rem;
    max-width: 450px;
    width: 90%;
    max-height: 350px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search-settings div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    font-size: 1rem;
}

.setting label {
    margin-right: 1rem;
}

#search-settings button {
    border-radius: 8px;
    border: none;
    background-color: #B4B3B3;
    font-size: 1.25rem;
    padding: 0.75rem;
    cursor: pointer;
}

#search-settings button:hover {
    background-color: #cccccc;
    transform: translateY(3px);
}

/* City name style */

h1#city-name {
    font-size: 2rem;
    font-weight: 700;
    margin: 4rem 0 1.5rem 0;
    text-align: center;
}

/* Content style */

.content {
    max-height: 0;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

div.content-active {
    max-height: 2000px;
    transition: max-height 1s ease-out;
    animation: appear 0.25s ease-in-out;
}

.meteo-infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap
}

div.pack {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

div.card {
    background-color: rgba(246, 246, 246, 0.7);
    border-radius: 8px;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

div.currentWeather div.card {
    cursor: pointer;
}

div.currentWeather div.card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.currentWeather img {
    max-width: 100px;
    width: 100%;
}

div.hourly-forecast div.card {
    background: #599;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 140px;
}

div.days-forecast {
    width: 100%;
}

div.days-forecast div.card {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

div.daily-card {
    display: inline-block;
    background-color: #efefef;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

div.daily-card:not(:last-child) {
    margin-right: 0.5rem;
}

div.daily-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    transform: translateY(-3px);
}

div.daily-card img {
    width: 100px;
}

div.daily-card table, div.currentWeather table {
    border-spacing: 0.5rem;
    text-align: end;
    white-space: nowrap;
}

div.currentWeather table {
    border-spacing: 1rem;
}
/* Hourly Forecast */

div.pack.hourly-forecast .card {
	position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

div.pack.hourly-forecast .card div
{
	position: absolute;
}

div.pack.hourly-forecast .card .time
{
	color: #fff;
	bottom: 2px;
}

div.pack.hourly-forecast .card .temperature
{
	color: #fff;
}

div.pack.hourly-forecast .card #tCurve {
    left: 0px;
    top: 0px;
    height: 100%;
    background: linear-gradient(0deg, rgba(34,195,168,0) 0%, rgba(70,162,140,0) 5%, rgba(220,25,25,0.5) 30%, rgba(220,25,25,1) 100%);
}

/* Message display style */

div#infoMessageContainer.hidden {
    display: none;
}

div#infoMessageContainer div.message {
    background-color: rgb(246, 246, 246);
    border-radius: 8px;
    padding: 1rem;
    max-width: 450px;
    width: 90%;
}

div.message {
    text-align: center;
}

div.message *:not(:first-child) {
    margin-top: 0.75rem;
}

div.message h3 {
    text-align: left;
}

div.message p {
    text-align: justify;
}

div.message button {
    border-radius: 8px;
    border: none;
    background-color: #B4B3B3;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    margin: auto;
}

div.message button:hover {
    background-color: #cccccc;
    transform: translateY(3px);
}

/* Loading animation */

div.loading-icon {
    text-align: center;
}

img.loading-icon {
    height: 0;
}

img.loading-icon-active {
    width: 50px;
    height: 50px;
    margin-top: 4rem;
}
